@import (once) '~react-scroll-box/src/main/index.less';

@data-table-disable-border: none 0 !important;
@data-table-border-radius:  6px;
@data-table-border:         solid 1px #959595;
@data-table-thead-bg:       #ddd;
@data-table-stripe-accent:  fade(#000, 5%);

.data-table {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;

  // Modifiers
  // ----------------------
  &--default {
    border-radius: @data-table-border-radius;

    .data-table {
      &__thead-colgroup {
        background-color: @data-table-thead-bg;
      }
      &__th,
      &__td,
      &__thead-colgroup,
      &__tbody-colgroup {
        border: @data-table-border;
      }
    }
  }
  &--striped {
    [data-parity="even"] .data-table__tbody-tr:nth-child(even),
    [data-parity="odd"]  .data-table__tbody-tr:nth-child(odd) {
      .data-table__td:not([rowspan]) {
        background-color: @data-table-stripe-accent;
      }
    }
  }
  &--wrapped {
    > .data-table__tbody > .data-table__tbody-colgroup {
      .scroll-box-wrap();
    }
  }
  &--collapsed-colgroup-border {
    > .data-table__thead > .data-table__thead-colgroup + .data-table__thead-colgroup,
    > .data-table__tbody > .data-table__tbody-colgroup + .data-table__tbody-colgroup {
      border-left: @data-table-disable-border;
    }
  }
  &--collapsed-rowgroup-border {
    > .data-table__tbody + .data-table__tbody > .data-table__tbody-colgroup {
      border-top: @data-table-disable-border;
    }
  }
  &--collapsed-head-border {
    &:not(.data-table--headless) > .data-table__thead + .data-table__tbody > .data-table__tbody-colgroup {
      border-top: @data-table-disable-border;
    }
  }

  // This selector is needed if someone would like to add or remove `.data-table--headless`
  // using `className`. If rendering `Table` with `headless={true}` this class name is added
  // but thead markup is also removed from DOM.
  &--headless {
    > .data-table__thead {
      display: none;

      + .data-table__tbody {
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
      }
    }
  }

  // Generic
  // ----------------------
  &__thead,
  &__tbody {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    border-radius: inherit;
  }
  &__thead-colgroup,
  &__tbody-colgroup {
    position: relative;
    border-radius: inherit;
  }
  &__thead-table,
  &__tbody-table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
  }
  &__thead-tr:first-child > .data-table__th,
  &__tbody-tr:first-child > .data-table__td {
    border-top: @data-table-disable-border;
  }
  &__thead-tr:last-child > .data-table__th,
  &__tbody-tr:last-child > .data-table__td {
    border-bottom: @data-table-disable-border;
  }
  &__th,
  &__td {
    overflow: hidden;

    &:first-child {
      border-left: @data-table-disable-border;
    }
    &:last-child {
      border-right: @data-table-disable-border;
    }
    &[rowspan] {
      border-bottom: @data-table-disable-border;
    }
  }

  // Thead
  // ----------------------
  &__thead {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  &__thead-colgroup {
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -ms-flex-direction: row;
    flex-direction: row;

    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }
    &:first-child:not(:last-child) {
      border-top-right-radius: 0;
    }
    &:last-child:not(:first-child) {
      border-top-left-radius: 0;
    }
  }

  // Tbody
  // ----------------------
  &__tbody {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;

    &:not(:first-child) {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    &:not(:last-child) {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  &__tbody-colgroup {
    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }
    &:first-child:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:last-child:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
  &__tbody-container {
    // Otherwise scroll does not show up if table has no data but headers overflow table width.
    min-height: 1px;
  }
}
