@import (once) '~react-scroll-box/src/main/index.less';

@data-table: data-table;

.@{data-table} {

  &__colgroup {
    display: inline-block;
    vertical-align: top;
  }
  &__thead {
    overflow: hidden;

    > table {
      width: 100%;
    }
  }
  &__tbody {
    min-height: 200px;

    > .@{scroll-box}__viewport > table {
      width: 100%;
    }
  }
}
