@import (once) '~react-scroll-box/src/main/index.less';

@data-table: data-table;

.@{data-table} {
  width: 100%;
  table-layout: fixed;
  height: 0;

  table {
    table-layout: fixed;
    width: 100%;
  }

  td, th {
    overflow: hidden;
  }

  &__tbody {
    height: 200px;
  }
}
