@import (once) '~react-scroll-box/src/main/index.less';

@data-table: data-table;

.@{data-table} {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;

  &__thead,
  &__tbody {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  &__colgroup {
    position: relative;
    border: solid 4px blue;

    > table,
    > .@{scroll-box}__viewport > table {
      table-layout: fixed;
      width: 100%;
      border-collapse: collapse;

      > thead,
      > tbody {
        > tr {
          > th,
          > td {
            overflow: hidden;
            border: solid 4px green;

            &:first-child {
              border-left: none;
            }
            &:last-child {
              border-right: none;
            }
            &[rowspan] {
              border-bottom: none;
            }
          }
          &:first-child {
            > th,
            > td {
              border-top: none;
            }
          }
          &:last-child {
            > th,
            > td {
              border-bottom: none;
            }
          }
        }
      }
    }
  }
  &__thead {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;

    > .@{data-table}__colgroup {
      display: -ms-flex;
      display: flex;
      overflow: hidden;
      -ms-flex-direction: row;
      flex-direction: row;

      &:first-child {
        border-top-left-radius: 6px;
      }
      &:last-child {
        border-top-right-radius: 6px;
      }
    }
  }
  &__tbody {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;

    > .@{data-table}__colgroup {
      &:first-child {
        border-bottom-left-radius: 6px;
      }
      &:last-child {
        border-bottom-right-radius: 6px;
      }
    }
  }
}
